// Docs: http://foundation.zurb.com/docs/components/forms.html

/**
 * Form elements styles definitions.
 */

%dark-bg-input
  +radius
  border: 1px solid $de-soft-gray-dark
  color: $de-soft-gray-dark
  background-color: transparent

%label
  color: $de-soft-gray-dark
  span
    color: $de-soft-gray-dark

%dark-bg-submit
  background-color: $de-soft-gray-dark
  color: $de-soft-gray-light
  border: none
