/**
 * Text elements styles definitions.
 */

// General styles for links.
=link-hover-shadow($color, $invert)
  color: $color
  font-weight: 300 !important
  $bold-shadow: 0 0 1px $color
  @if $invert
    text-shadow: none
  @else
    text-shadow: $bold-shadow, $bold-shadow, $bold-shadow
  &:hover, &.active
    color: $color
    @if $invert
      text-shadow: $bold-shadow, $bold-shadow, $bold-shadow
    @else
      text-shadow: none

%dark-bg-link
  text-decoration: underline
  font-weight: bold
  &:hover, &:focus, &:active
    text-decoration: none
    color: white

%menu-link
  +link-hover-shadow($de-soft-gray-light, false)
  display: block
  font-family: $heading-font
  font-size: $font-size-h3
  padding: 0 0.8em
  +breakpoint($medium-type-width)
    font-size: 1.2em
    padding: 0 0.7em

%list-block-link
  // +link-hover-shadow($de-soft-gray-main, true)
  line-height: 2em
  padding: 0 0.5em 0 0
  margin: 0

// Apply hyphenation in paragraphs.
%hyphenated-paragraphs
  -webkit-hyphens: auto
  -moz-hyphens: auto
  hyphens: auto
