/**
 * Main header styles.
 */

header.l-header
  background-color: $de-strong-gray-dark
  .header-wrapper
    @extend .row
    > section
      @extend .large-12

div.logo
  @extend .large-1
  @extend .columns
  padding-right: 0
  line-height: 150px
  text-align: center

// Login page link.
.login-link-wrapper
  @extend .large-3
  @extend .columns
  line-height: 150px
  text-align: center
  .login-link
    @extend %link-button

.logged-in .login-link
  display: none

// Main menu styles.
.main-menu-wrapper
  @extend .large-8
  @extend .columns
  text-align: center

ul#main-menu-links
  @extend .columns
  @extend .large-12
  display: inline-block
  margin-bottom: 0
  li
    margin-left: 0
    text-align: center
    a
      @extend %menu-link
      line-height: 150px
    ul
      list-style: none
      margin: 0
      display: none
      position: absolute
      top: 100%
      left: 0
      z-index: 100
    &:hover > ul
      display: block

// Mobile main menu.
div.responsive-menus.responsified
  +breakpoint($small-type-width)
    line-height: 150px
  span.toggler
    @extend .button
    @extend .medium
    margin: 20px 0 0 0
  &.responsive-toggled
    span.toggler
      margin-bottom: 0
  ul.responsive-menus-simple
    display: none
    li a
      @extend .button
      @extend .expanded
      margin: 0
      display: block
