/**
 * Homepage specific styles.
 */

.view-home-page, div.main > .view-posts, .view-videos, .view-podcast
  .views-row
    margin-bottom: 40px
    +breakpoint($big-type-width)
      padding-right: 60px
  .views-field-title, .field-name-title
    h2, h2 a
      +link-hover-shadow($de-main-blue, false)
  .field-name-field-description, .views-field-field-description
    min-height: 130px
  p
    @extend %hyphenated-paragraphs
    margin-bottom: 0
  div.image, .views-field-field-image
    float: left
    margin-right: 20px
    margin-bottom: 20px
    a
      @extend .th
      @extend .radius
  .views-field-field-tags, .field-name-field-tags
    @extend %tags-list

// View more and comment count links.
.views-row > div > ul.links
  @extend %teaser-links-list

.views-field-view-node, .views-field-disqus-comment-count
  display: inline-block
  a
    @extend h5
    +link-hover-shadow($de-soft-gray-light, false)
    margin-right: 20px

// Teaser styles for non-field view.
// @TODO: Use fields in all teaser views.
article.node-teaser
  @extend .row
  h2 a
    +link-hover-shadow($de-main-blue, false)

// Pagination.
ul.pagination.pager
  li.current a
    background-color: transparent
    color: $de-main-blue
  a
    color: $de-soft-gray-light
    font-weight: bold
    text-shadow: none
    &:hover
      background-color: transparent
      color: $de-main-blue
