// Homepage styles.

.view-home-page
  article
    margin-bottom: 40px
    h2
      line-height: 1em
    ul.links
      li
        @extend .button
        @extend .tiny
        @extend .secondary
  div.image
    float: left
    margin-right: 20px
    a
      @extend .th
      @extend .radius