/**
 * Basic theme styles.
 */

// Body.
body
  line-height: $line-height-smaller
  font-family: $text-font
  font-size: $font-size-smaller
  height: 100%
  color: $de-soft-gray-dark
  +breakpoint($small-type-width)
    &
      font-size: $font-size-small
      line-height: $line-height-small
  +breakpoint($medium-type-width)
    &
      font-size: $font-size-medium
      line-height: $line-height-medium
  +breakpoint($big-type-width)
    &
      font-size: $font-size-big
      line-height: $line-height-big

// Headers.
%heading
  font-family: $heading-font
  font-weight: 600
  -webkit-font-smoothing: antialiased
  font-smoothing: antialiased

h1, h2, h3, h4, h5, h6
  @extend %heading
  line-height: 1.1em

h1
  font-size: $font-size-h1
  color: $de-main-blue
  +breakpoint("smaller-type-width")
    &
      font-size: 2.4em

h2
  font-size: $font-size-h2
  color: $de-soft-gray-main
  a
    color: $de-main-blue

h3
  font-size: $font-size-h3

h4
  font-size: $font-size-h4

h5

  font-size: $font-size-h5
  color: $de-soft-gray-main
  font-weight: 700

h6
  font-size: $font-size-h6

// Main content.
main.l-main
  @extend .row

div.main
  @extend .large-8
  @extend .column
  padding-top: 20px !important

.not-front article.node
  p
    @extend %hyphenated-paragraphs
    max-width: 32em
    margin-right: auto
    margin-left: auto

ul.breadcrumbs
  background-color: transparent
  border: none
  a
    color: $de-main-blue
  .current a
    color: $de-soft-gray-dark

div.field-name-field-tags ul.links li
  display: inline-block
  list-style: none
  a
    @extend %list-block-link

.l-messages
  @extend .row
  margin-top: 20px
