/**
 * Drupal de Elite's color palette.
 */

$de-dark-blue:         #0b203d
$de-main-blue:         #2e84f5
$de-light-blue:        #cfdee8

$de-strong-gray-dark:  #07101f
// $de-strong-gray-main:  #1f2021
$de-strong-gray-light: #2d2d2d

$de-soft-gray-dark:    #a9a9aa
// $de-soft-gray-main:    #e5e5e5
$de-soft-gray-light:   #f8fbff
